:root{
  /* Colors */
  --red: #E3350D;
  --redShadow: #810016;
  --blue: #29acff;
  --light_blue: #8bd3ff;

  --dark_grey: #232323;
  --light_grey: #e1e1e0;


  /* Types */
  --grass: #9bcc50;
  --poison: #b97fc9;





  /* Fontsize */
}